.modal_show {
	user-select: none;
	display: flex;
	visibility: visible;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: visibility 0s, opacity 0.5s;
}

.modal_hidden {
	@extend .modal_show;
	visibility: hidden;
	opacity: 0;
}

.modal_content {
	display: flex;
	overflow: scroll;
	flex-wrap: wrap;
	width: 100%;
	align-content: center;
	&.__center{
		justify-content: center;
	}
}