.__top_text {
	position: sticky;
	top: 0;
	min-height: 50px;
	font-weight: 400;
	font-size: 1.2em;
	width: 100%;
	background: rgb(255, 255, 255);
	color: rgba(63, 62, 93, 1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.__level_grid {
	margin: 0 2em;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-auto-rows: minmax(75px, auto);
	place-items: center;
}
