.exp_container {
	font-family: PingFangSC-Medium;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #3f3e5d;
	img {
		margin: 0 5px;
	}
}

.explanation_container {
	display: grid;
	overflow: inherit;
	place-items: center;
	padding: 0 2em;
	height: 100%;
	p {
		margin: 1% 0;
		line-height: 32px;
		color: rgba(63, 62, 93, 1);	
		font-size: 16px;
		font-weight: 450;
	}
}
.exp_title {
	position: sticky;
	top: 0;
	min-height: 50px;
	width: 100%;
	font-size: 20px;
	background: rgb(255, 255, 255);
	color: #3f3e5d;
	display: flex;
	align-items: center;
	justify-content: center;
}
