.in_progress {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #474b78;
	min-height: 100vh;
	width: 100%;
	background-image: url("../../../assets/游戏中背景上.png"),
		url("../../../assets/游戏中背景下.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center top, center bottom;
	background-size: contain, contain;
}
