// button color variables
$easy: rgba(127, 203, 255, 1);
$easy-shadow: rgba(110, 181, 229, 1);
$medium: rgba(122, 214, 153, 1);
$medium-shadow: rgba(105, 190, 134, 1);
$hard: rgba(255, 170, 134, 1);
$hard-shadow: rgba(232, 152, 118, 1);
$next: rgba(255, 136, 18, 1);
$next-shadow: rgba(219, 113, 9, 1);
$back: rgba(108, 191, 247, 1);
$back-shadow: rgba(78, 161, 217, 1);


.button {
	display: inline-flex;
	align-items: center;
	border: none;
	color: inherit;
	user-select: none;
	cursor: pointer;
	background: none;
	text-decoration: none;
	line-height: 1;
	font-size: inherit;
	padding: 0;
	flex: 0 0 auto;
	// outline: 2px solid;
	&:focus {
		outline: 0;
	}
	&.__rounded {
		border-radius: 20px;
	}

	&.__pill {
		padding: 0.2em 0.6em;
	}
	&[disabled] {
		pointer-events: none;
		opacity: 0.35;
	}
	&:active {
		transform: translateY(4px);
		box-shadow: none;
	}
}

//colors
.easy {
	background-color: $easy;
	box-shadow: 0 4px 0 0 $easy-shadow;
}
.medium {
	background-color: $medium;
	box-shadow: 0 4px 0 0 $medium-shadow;
}
.hard {
	background-color: $hard;
	box-shadow: 0 4px 0 0 $hard-shadow;
}
.next {
	background-color: $next;
	box-shadow: 0 4px 0 0 $next-shadow;
}
.back {
	background-color: $back;
	box-shadow: 0 4px 0 0 $back-shadow;
}

.btn_content {
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
	flex: 1 0 auto;
	line-height: normal;
	position: relative;
	font-weight: bold;
}
